<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description | strip_newlines }}">
  <link rel="stylesheet" href="//lumeh.org/css/lumeh.css">
  <link rel="stylesheet" href="//lumeh.org/css/print.css">
  <link rel="stylesheet" href="//lumeh.org/css/code.css">
  <link rel="icon" href="//lumeh.org/image/favicon.ico">
</head>
<body>
  <header>
    <h1><span style="font-family: 'DejaVu Sans Mono'">l</span>umeh.org</h1>
  </header>
  <nav>
    <p id="welcome">&nbsp;</p>
    <ul id="navigation-menu">
      <li><a href="//lumeh.org/">index</a></li><!--
      --><li><a href="/">blog</a></li><!--
      --><li><a href="//lumeh.org/music.html">music</a></li><!--
      --><li><a href="//lumeh.org/projects/">projects</a></li><!--
      --><li><a href="//lumeh.org/recipes/">recipes</a></li><!--
      --><li><a href="//lumeh.org/tools/">tools</a></li><!--
      --><li><a href="//lumeh.org/wiki/">wiki</a></li><!--
      --><li><a href="//lumeh.org/cafe/">café</a></li>
    </ul>
  </nav>
  <article>
    <header>
      <h1 class="title">{{ page.title }}</h1>
{% if page.author %}
      <span class="author">by {{ page.author }}</span>
{% endif %}
{% if page.date %}
      <span class="date">on {{ page.date | date_to_string }}</span>
{% endif %}
    </header>

{{ content }}

    <section id="comments">
      <header>
        <p>
          <strong>Comments</strong> —
          <a href="https://github.com/kalgynirae/blog/edit/gh-pages/{{ page.path }}">Add a comment</a>
        </p>
      </header>
{% for comment in page.comments %}
      <article>
        <header>
          <h3>Comment by <span class="author">{{ comment.author }}</span></h3>
        </header>

{{ comment.content | markdownify }}

      </article>
{% endfor %}
    </section>
  </article>
  <footer>
    <p>
      <span id="source">{{ site.title }}</span>
      | Copyright 2007–2014 Colin Chan
      | Contact: <img class=inline src="//lumeh.org/image/admin-email.png" alt="[admin email]">
    </p>
  </footer>
</body>
</html>
